@import 'normalize';
@import 'sass-css3-mixins';
// @import 'susy';
@import 'animated';
@import 'variables';
// @import 'fonts';
// @import 'grid';
@import 'gridlex';
@import 'utils';
@import 'masonary';

/* Makes border-box properties */
// @include border-box-sizing;

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  font-family: $sans;
  color: $text-dark;
  overflow-x: hidden;
}

h1, h2 {
  @extend .light;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

a, a:visited {
  text-decoration: underline;
  color: $text-dark;
  transition: 0.250ms ease-in-out;
}

a:hover {
  text-decoration: none;
  color: $accent-colour;
  transition: $s-animation;
}

a.under {
  text-decoration: under;
}

a.none, a.none:hover {
  text-decoration: none;
}

.full {
  min-height: 100vh;
}

.page {
  width: 100%;
  margin: 0;
}

.main {
  min-height: 95vh;
  width: 100%;
  padding: 0;
  // background-color: rgba(95, 255, 205, 0.50);
  background-color: $main-colour;
}

header {
  .avatar {
    max-width: 100%;
    width: 10rem;
    border-radius: 2px;
    margin-top: 2rem;

    @media (min-width: $xsmall) {
      margin-top: -5rem;
      margin-right: 4rem;
      display: inline-block;
    }
  }

  h1 {
    @media (min-width: $xsmall) {
      display: inline-block;
    }

    @media (max-width: $xsmall) {
      margin-top: 1rem;
    }
  }
}

.button {
  display: block;
  padding: 1rem;
  color: $text-light;
  background-color: $accent-colour;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  height: 40px;
  transition: $s-animation;

  a {
    text-decoration: none;
  }
}

.button:hover {
  color: $text-dark;
}

.fakts {
  margin-top: 4rem;
  padding: 2rem 0;
  background-color: white;

  .did-you-know {
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-bottom: solid 1px $accent-colour;
  }

  .new-fact {
    width: 100%;
  }
}

footer {
  p {
    font-size: 1em;
  }
}
